In [1]:
import pandas as pd
import numpy as np
import os
import shutil

In [2]:
linkage_path = "../EntityLinking/data/artist_predictions.csv"
linkage_df = pd.read_csv(linkage_path, index_col=False)

artsy_path = "../Scrape/Artsy/Data/CleanedArtsyData.csv"
artsy_df = pd.read_csv(artsy_path)

ww_path = "../Scrape/Widewalls/data/CleanedWidewallsData.csv"
ww_df = pd.read_csv(ww_path)

artsy_name_path = "../Scrape/Artsy/Data/ArtsyArtist.csv"
artsy_name_df = pd.read_csv(artsy_name_path)

ins_path = "../InstagramFinder/data/ArtistWithIns.csv"
ins_df = pd.read_csv(ins_path)

In [3]:
ins_df = ins_df.drop(['Unnamed: 0','Artsy','Widewalls'],axis = 1)
ins_df

,artist_name,artist_website,artist_ins
0,Roy Lichtenstein,lichtensteinfoundation.org,https://www.instagram.com/roylichtenstein/?hl=en
1,Josep Guinovart,NaN,NaN
2,Macha Poynder,www.machapoynder.com,https://www.instagram.com/macha_poynder/?hl=en
3,Eddie Martinez,eddiemartinez.net,https://www.instagram.com/_eddiemartinez/?hl=en
4,Louis Masai,louismasai.com,https://www.instagram.com/louismasai/?hl=en
...,...,...,...
495,Jaume Plensa,jaumeplensa.com,NaN
496,Chris Ofili,NaN,https://www.instagram.com/chrisofili/?hl=en
497,Douglas Gordon,www.gordondouglas.org,https://www.instagram.com/douglas_g_gordon/?hl=en
498,Georges Braque,www.georgesbraque.org,NaN
499,Ernst Haas,ernst-haas.com,NaN

In [4]:
ww_df

,artist_names,full_bios,id
0,Joan Miro,"The mind is a fascinating thing, and there’s n...",1
1,David Shrigley,David Shrigley is a Glasgow-based British arti...,2
2,Kyriakos Kaziras,Heavily influenced by painting and considering...,3
3,Salvador Dali,"One of the most original, innovative, and famo...",4
4,David Yarrow,An artist followed by an amazing reputation fo...,5
...,...,...,...
2529,Tadahiko Ikegaki,Tadahiko Ikegaki is a Japanese contemporary ar...,2530
2530,Charles Laib Bitton,Charles Laib Bitton is a Belgian contemporary ...,2531
2531,Derrick Adams,"Born in Baltimore, Derrick Adams is an America...",2532
2532,Alice Suret-Canale,Alice Suret-Canale is a French contemporary pa...,2533
2533,Tatiana Nega,"Drawing since early childhood, Tatiana Nega is...",2534

In [5]:
ww_df.columns = ["artist_name",'full_bio','id']
ww_df

,artist_name,full_bio,id
0,Joan Miro,"The mind is a fascinating thing, and there’s n...",1
1,David Shrigley,David Shrigley is a Glasgow-based British arti...,2
2,Kyriakos Kaziras,Heavily influenced by painting and considering...,3
3,Salvador Dali,"One of the most original, innovative, and famo...",4
4,David Yarrow,An artist followed by an amazing reputation fo...,5
...,...,...,...
2529,Tadahiko Ikegaki,Tadahiko Ikegaki is a Japanese contemporary ar...,2530
2530,Charles Laib Bitton,Charles Laib Bitton is a Belgian contemporary ...,2531
2531,Derrick Adams,"Born in Baltimore, Derrick Adams is an America...",2532
2532,Alice Suret-Canale,Alice Suret-Canale is a French contemporary pa...,2533
2533,Tatiana Nega,"Drawing since early childhood, Tatiana Nega is...",2534

In [6]:
linkage_list = []
for i in range(len(linkage_df)):
    linkage_list.append([linkage_df.iloc[i][0],linkage_df.iloc[i][1]])
artsy_list = [x[0] for x in linkage_list]
ww_list = [x[1] for x in linkage_list]

In [7]:
header = list(artsy_df.columns)
header.append('biography')
print(header)

['id', 'media', 'url', 'artist_name', 'artist_url', 'work_name', 'work_year', 'media_long', 'dimension', 'gallery_name', 'gallery_url', 'bid', 'price', 'img_url', 'biography']

In [8]:
artsy_name_df = artsy_name_df.loc[artsy_name_df['id'].isin(artsy_list)]
artist_list = list(artsy_name_df['artist_name'])
artsy_df = artsy_df.loc[artsy_df['artist_name'].isin(artist_list)]
ww_df = ww_df.loc[ww_df['artist_name'].isin(artist_list)]
ww_df = ww_df.drop(['id'], axis = 1)
ww_df

          artist_name                                           full_bio
1      David Shrigley  David Shrigley is a Glasgow-based British arti...
4        David Yarrow  An artist followed by an amazing reputation fo...
6     Dan Christensen  Dan Christensen was an American abstract paint...
10               KAWS  In the late ’80s and early ’90s, the interesti...
18        Andy Warhol  It was the beginning of the 1950s when the art...
...               ...                                                ...
2423  William Gropper  William Gropper was a versatile American artis...
2454    Zhoujie Zhang  Zhoujie Zhang is a Chinese furniture designer,...
2492  Francisca Sutil  Francisca Sutil is an award-winning Chilean co...
2510        Jiha Moon  Jiha Moon is a Korean artist whose paintings, ...
2531    Derrick Adams  Born in Baltimore, Derrick Adams is an America...

[500 rows x 2 columns]

In [9]:
artsy_df = artsy_df.merge(ww_df, on = "artist_name", how = 'left' )
artsy_df = artsy_df.merge(ins_df, on = "artist_name", how = 'left' )

In [10]:
artsy_df.to_csv('FinalDataSet.csv', index=False)

In [11]:
final_id = list(artsy_df['id'])

In [12]:
try:
    os.mkdir('images')
except:
    pass

In [13]:
def find(name, path):
    for root, dirs, files in os.walk(path):
        if name in files:
            return os.path.join(root, name)

In [14]:
#shutil.copyfile(src, dst)
img_file_path = "../Scrape/Artsy"
#print([x[1] for x in os.walk(img_file_path)])
img_folder_path = [x[2] for x in os.walk(img_file_path)]
img_path = []
for f in img_folder_path:
    img_path += f
final_img_path = []
for i in img_path:
    if i[:-4] in final_id:
        final_img_path.append(i)
print(len(final_img_path))
for  i in range(len(final_img_path)):
    final_img_path[i] = find(final_img_path[i],img_file_path)

2485

In [15]:
final_img_path[0]

'../Scrape/Artsy/Data/design/design1467.png'

In [16]:
for i in final_img_path:
    shutil.copyfile(i, "images/"+i.split('/')[-1])